<p id="notice"><%= notice %></p>

<h1>Polizas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polizas.each do |poliza| %>
      <tr>
        <td><%= poliza.name %></td>
        <td><%= link_to 'Show', poliza %></td>
        <td><%= link_to 'Edit', edit_poliza_path(poliza) %></td>
        <td><%= link_to 'Destroy', poliza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poliza', new_poliza_path %>
