<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @soatseguro.Placa %>
</p>

<p>
  <strong>Del:</strong>
  <%= @soatseguro.del %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @soatseguro.vehiculo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @soatseguro.Fecha %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @soatseguro.inicio %>
</p>

<p>
  <strong>Vigencia:</strong>
  <%= @soatseguro.vigencia %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @soatseguro.Fecha %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @soatseguro.fin %>
</p>

<p>
  <strong>Vigencia:</strong>
  <%= @soatseguro.vigencia %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @soatseguro.Numero %>
</p>

<p>
  <strong>Pasajeros:</strong>
  <%= @soatseguro.pasajeros %>
</p>

<p>
  <strong>Cilindraje:</strong>
  <%= @soatseguro.Cilindraje %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @soatseguro.Clase %>
</p>

<p>
  <strong>Toneladas:</strong>
  <%= @soatseguro.Toneladas %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @soatseguro.Edad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @soatseguro.Precio %>
</p>

<%= link_to 'Edit', edit_soatseguro_path(@soatseguro) %> |
<%= link_to 'Back', soatseguros_path %>
