<p id="notice"><%= notice %></p>

<h4>Seguros</h4>

<table>
  <thead>
    <tr>
      <th>Placa del vehiculo</th>
      <th>Fecha inicio vigencia</th>
      <th>Fecha fin vigencia</th>
      <th>Numero pasajeros</th>
      <th>Cilindraje</th>
      <th>Clase</th>
      <th>Toneladas</th>
      <th>Edad</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguros.each do |seguro| %>
      <tr>
        <td><%= seguro.Placa_del_vehiculo %></td>
        <td><%= seguro.Fecha_inicio_vigencia %></td>
        <td><%= seguro.Fecha_fin_vigencia %></td>
        <td><%= seguro.Numero_pasajeros %></td>
        <td><%= seguro.Cilindraje %></td>
        <td><%= seguro.Clase %></td>
        <td><%= seguro.Toneladas %></td>
        <td><%= seguro.Edad %></td>
        <td><%= seguro.Precio %></td>
        <td><%= link_to 'Ver detalle', seguro  %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


